.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 16px;
}

ion-card-title {
  text-align: center;
  font-size: 34px;
}
ion-avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#btn_signup {
  margin-top: 50px;
}
#btn_login {
  margin-top: 10px;
  margin-bottom: 50px;
}

.form {
    width: 100%;
    max-width: 600px;
    padding: 16px;
  }
